.search-icon {
  transform: translateY(0px);
  transition: transform .2s ease-in;
}

.search-bar {
  transition: background-color .3s ease;
}

.search-bar:hover {
  background-color: #feae34;
}


.search-icon:hover {
  transform: translateY(-1px);
}

/* rgb(0, 115, 255) */
.pulse-ao {
  outline-width: thick;
  border: 2px solid#FF9900;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}

.pulse-ao:hover {
  color: white;
  background-color: #FF9900;
  outline-color: #FF9900;
}

.card {
  transition: outline-color 0.3s ease;
}

.card:hover {
  outline-color: #FF9900;
}