.search-icon {
  transform: translateY(0px);
  transition: transform .2s ease-in;
}

.search-bar-container {
  transition: background-color .3s ease, outline-color 0.3s ease;

}

.search-bar-container:hover {
  background-color: #feae34;
  outline-color: #feb13d;
}


.search-icon:hover {
  transform: translateY(-1px);
}

.search-icon-container {
  transition: background-color 0.3s ease;
}

.search-icon-container:hover {
  background-color: #feae34;

}

.pulse-ao {
  outline-width: thick;
  border: 2px solid#FF9900;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}

.pulse-ao:hover {
  color: white;
  background-color: #FF9900;
  outline-color: #FF9900;
}

.card {
  transition: outline-color 0.3s ease;
}

.card:hover {
  outline-color: #FF9900;
}